# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Node
**/node_modules/
**/dist/

# Build artifacts
*.tsbuildinfo

# Data & test
test/
data/*
frontend/src/__tests__

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment
.env
*.log

# Misc
backend/routes/patient_info